.auth-container{
    
    h2{
        display: flex;
        justify-content: left;
        margin: 20px;
    }
   
    .sign-up-form{
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 10px;
       
        
        
    }
    input{
        width: 30%;
        border: solid black;
        font-size: large;
        border-radius: 10px;
        padding: 10px;
    }
    button{
        margin-left: 10px;
        width: 10%;
        height: 50px;
        cursor: pointer;
        background-color: black;
        color: white;
        border: solid aquamarine;
        border-radius: 10px;
    }
   
}